*{
    padding: 0;
    margin: 0;
}
.icon{
    display: flex;
    background-color: red;
}
.right{
    display: flex;
    justify-content: left;
    align-items: left;

}
.img{
    background-image: url("./assets/images/about/profile_image.jpg");
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    
}
