* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}

body {
    background-image: url(/assets/images/about/welcome-banner.jpg);
    background-size: cover;
    background-position: center;
    /* Optional: Set background to fixed if you want it to remain stationary while scrolling */
    background-attachment: fixed;
    /* Optional: Set a height to ensure the background covers the entire viewport */

    height: 100vh;
    width: 100%;
}


.headercontainer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    box-shadow: 0 0 0 rgba();
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 20px;
}

.left-sided {
    width: 40%;
    height: 100px;
    margin-left: 150px;
}

.right-sided {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 100px;
}

span {
    color: #d92cf9;
}

.navbar {
    gap: 100px;
}

nav a {
    color: black;
    outline: none;
}

.navbar1 {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 60px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #d92cf9;
    transition: all 0.2s ease-in-out;
}

.title {
    margin-top: -300px;
    font-size: 45px;
    color: white;
    font-weight: 700;
}

.name {
    color: white;
    font-size: 45px;
    font-weight: 700;
}

h6 {
    font-size: 24px;
    color: white;
    font-weight: 300;
}

.logotag {
    display: flex;
    text-align: center;
    color: #d92cf9;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 300px;
}

.btn {
    background-color: #d92cf9;
    color: white;
    height: 70px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d92cf9;
    transition: all 0.2s ease-in-out;
}