* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.headercontainer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    border: solid 1px black;
    box-shadow: 0 0 0 rgba();
}

.left-sided {
    width: 40%;
    height: 100px;
    margin-left: 150px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 45px;
}

.logotag {
    display: flex;
    text-align: center;
    color: #d92cf9;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 300px;
}